.cart {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}

table {
  /* margin: 0 auto; */
  margin: 40px auto 20px; /* Añadir margen superior de 40px y margen inferior de 20px */
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #ccc; /* Borde alrededor de las tablas y celdas */
}

th,
td {
  padding: 10px; /* Espaciado interno de las celdas */
}

th {
  background-color: #f2f2f2; /* Color de fondo para los encabezados */
}

button {
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 10px 15px; /* Espaciado interno del botón */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}
